*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#header{
  padding: 20px 0;
  background: #fff;
  position: fixed;
  width: 100%;


}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

}

.header a{
    color: #282828;
font-size: 14px;
font-weight: 600;
text-decoration: none;
}



#hero{
    background:  url(/images/ru.maket2.png);
    background-repeat: no-repeat;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding: 20px 0;
 
}
.hero{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* flex-direction: row; */


}
.hero h1{
    color: #fff;
font-size: 72px;
font-weight: 700;
max-width: 600px;
left: 200px;
margin-top: 400px;
}


.block-2 p{
    color: #818181;
font-size: 12px;
font-weight: 700;

}

.block-2 h4{
    color: #282828;
font-size: 24px;
font-weight: 700;
}
.block-5 a{
    color: #282828;
text-align: right;
font-size: 18px;
font-weight: 600;
text-decoration-line: underline;
}



.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 400px;
   margin: 40px 0;

}

.hero2{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content h2{
color: #282828;
font-size: 36px;
font-weight: 700;
margin: 40px 0;
}

.content{
    position: relative;
}

.btn0 button{
  width: 118px;
  height: 29px;
  border-radius: 14px;
  background: #fa434b;
  color: #fff;
  border: none;
  position: absolute;
  top: 150px;
  left: 25px;
}

.btn1 button{
    width: 58px;
height: 29px;
border-radius: 14px;
background: #EFEFEF;
border: none;
position: absolute;
top: 150px;
left: 150px;
}

.btn2 button{
    width: 193px;
    height: 45px;
    border-radius: 22.5px;
    border: 2px solid #FFF;
    position: absolute;
    top: 320px;
    background: transparent;
    color: white;
font-size: 18px;
font-weight: 600;
}

.btn3{
    position: absolute;
    left: 100px;
    top: 90px;
}

.btn4{
    position: absolute;
    right: 215px;
}

.content h3{
    color: #FFF;
font-size: 20px;
font-weight: 600;
position: absolute;
top: 480px;
left: 30px;
}

.content p{
    color: #C7C7C7;
font-size: 12px;
font-weight: 400;
width: 250px;
position: absolute;
top: 520px;
left: 30px;
}


.hero-3{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.content2{
    position: relative;
    margin-right: 40px;
}

.btn5 button{
    width: 118px;
    height: 29px;
    border-radius: 14px;
    background: #fa434b;
    border: none;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 25px;
}

.btn6 button{
    width: 57px;
    height: 29px;
    border-radius: 14px;
    background: #EFEFEF;
    border: none;
    color: #1e201f;
    top: 30px;
    left: 150px;
    position: absolute;
    top: 30px;
    left: 150px;
}

.content2 h2{
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 250px;
    position: absolute;
    top: 335px;
    left: 25px;
}

.content2 p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 250px;
    position: absolute;
    top: 370px;
    left: 25px;
}
.content3{
    position: relative;
}

.btn7 button{
    width: 118px;
    height: 29px;
    border-radius: 14px;
    background: #fa434b;
    border: none;
    color: #FFF;
    position: absolute;
    top: 30px;
    left: 25px;
}


.btn8 button{
    width: 57px;
    height: 29px;
    border-radius: 14px;
    background: #EFEFEF;
    border: none;
    color: #1e201f;
    position: absolute;
    top: 30px;
    left: 150px;
}

.content3 h2{
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top:335px;
    left: 40px;
}

.content3 p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    width: 250px;
    position: absolute;
    top: 370px;
    left: 25px;
}

#logo0{
    width: 1200px;
    height: 105px;
    background: #fa434b;
    width: 100%;
   margin-top: 40px;
}

.logo-1 h1{
    color: #282828;
font-size: 36px;
font-weight: 700;
}

.aidi a{
    color: #282828;
font-size: 18px;
font-weight: 600;
text-decoration: none;

}

.logo1{
    width: 1500px;
}

.hero-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.logo-3 h2{
    color: #1E201F;
font-size: 20px;
font-weight: 800;
max-width: 490px;
}

.logo1 p{
    color: #86837F;
font-size: 12px;
font-weight: 400;
width: 550px;
height: 48px;
margin: 10px 0;
}

.logo-3{
    display: flex;
    align-items: center;

}

.logo-4 h2{
    color: #1E201F;
    font-size: 20px;
    font-weight: 800;
    width: 490px;
}

.logo2 p{
    color: #86837F;
    font-size: 12px;
    font-weight: 400;
    width: 550px;
height: 48px;
margin: 10px 0;
}

.logo-4{
 display: flex;
 align-items: center;
}

.logo-5{
    display: flex;
    align-items: center;

}

.logo-5 h2{
    color: #1E201F;
font-size: 20px;
font-weight: 800;
width: 490px;
}

.logo3 p{
    color: #86837F;
    font-size: 12px;
    font-weight: 400;
    width: 490px;
height: 48px;
margin: 10px 0;
}

.logo-6 h2{
    color: #1E201F;
font-size: 20px;
font-weight: 800;
width: 480px;

}

.logo4 p{
    width: 550px;
height: 48px;
color: #86837F;
font-size: 12px;
font-weight: 400;
margin: 10px 0
}

.logo-6{
    display: flex;
    align-items: center;
}

.logo1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

